<div class="header-image">
    <div class="header-block">
        <div class="header-text">
            <div class="header-text-title">Dobrodošli u našu online prodavnicu</div>
            <p>
                Nadamo se da ćete pronaći proizvod bla..bla...</p>
        </div>
    </div>
</div>
<div class="layout-container">
    <div class="product-grid">
        <div class="col-md-4 col-sm-6" *ngFor="let product of products;let i = index">
            <div class="image-container">
                <div class="product-image" [ngStyle]="{'background-image': 'url(./assets/imgs/' + product.image + ')'}"></div>
                <div class="overlay">
                    <div class="button button-primary" [routerLink]="['../product',i+1]">pogledaj bliže</div>
                    <div class="button button-primary" (click)="addToCart(product)">Stavi u korpu</div>
                </div>
            </div>
            <div class="product-details">
                <div class="product-brand">{{product.brand}}</div>
                <div class="product-title">{{product.title}}</div>
                <div class="product-price">{{product.price}} <span> din.</span> </div>
            </div>
        </div>
    </div>
</div>
