<div class="cart-page-container">
    <div class="cart-page-header">
        <h1>Korpa</h1>
    </div>
    <div class="cart-page-content" *ngIf="cartList.length > 0">
        <div class="cart-item-header cart-item-row">
            <div class="cart-item-cell cart-item-product"><span>Proizvod</span></div>
            <div class="cart-item-cell cart-item-quantity"><span>Količina</span></div>
            <div class="cart-item-cell cart-item-total"><span>cena</span></div>
            <div class="cart-item-cell cart-item-action"><span>akcija</span></div>
        </div>
        <div class="cart-item-row" *ngFor="let cart of cartList;let i = index">
            <div class="cart-item-cell cart-item-product">
                <div class="cart-item-thumbnail" [ngStyle]="{'background-image': 'url(./assets/imgs/' + cart.product.image + ')'}">
                </div>
                <div class="cart-item-info">
                    <div class="cart-item-brand">{{cart.product.brand}}</div>
                    <div class="cart-item-title">{{cart.product.title}}</div>
                </div>
            </div>
            <div class="cart-item-cell cart-item-quantity">
                <quantity-control [quantity]="cart.quantity" (onChange)="changeQuantity(cart,$event)"></quantity-control>
            </div>
            <div class="cart-item-cell cart-item-total">
                <div class="item-price">
                    {{cart.quantity*cart.product.price}} <span> din.</span>
                </div>
            </div>
            <div class="cart-item-cell cart-item-action">
                <div class="item-remove" (click)="removeFromCart(i)">X</div>
            </div>
        </div>
        <div class="row cart-total">
            <div class="col-lg-offset-6">
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        pregled korpe
                    </div>
                    <div class="col-md-6 cart-total-value"></div>
                </div>
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        ukupno
                    </div>
                    <div class="col-md-6 cart-total-value">
                        {{totalPrice}} <span> din.</span>
                    </div>
                </div>
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        ukupno za plaćanje
                    </div>
                    <div class="col-md-6 cart-total-value cart-total-price">
                        {{totalPrice}} <span> din.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-buttons">
            <div class="continue-shopping"><a routerLink="/">nastavi kupovinu</a></div>
            <div class="checkout-button button button-primary button-large" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Potvrdi kupovinu ({{totalPrice}} <span> din.</span>)</div>
        </div>
    </div>



    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php" method="post" netlify>
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div style="padding:30px">
          <label for="uname"><b>Ime i prezime</b></label>
          <input type="text" placeholder="Vaše ime i prezime" name="uname" required>

          <label for="adr"><b>Mesto, poštanski broj i adresa</b></label>
          <input type="text" placeholder="Mesto i adresa isporuke" name="adress" required>

          <label for="tel"><b>Telefon</b></label>
          <input type="tel" placeholder="Upišite broj vašeg telefona" name="telephone" required>

          <button type="submit">Potvrđujem porudžbinu</button>
        </div>

        <div style="padding:30px" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Otkazujem kupovinu</button>
        </div>
      </form>
    </div>






    <div style="height:100px"><div>

    <div class="cart-page-content" *ngIf="cartList.length == 0">
        <h4>Vaša korpa je prazna.</h4>
        <a routerLink="/">Nazad na kupovinu</a>
    </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
